# Chokidar 0.7.1

OSX + VIM

  1. pass
  2. pass
  3. pass
  4. pass
  5. pass
  6. pass
  7. pass
  8. pass
  9. pass
  10. pass
  11. pass
  12. pass
  13. pass

  A1. pass
  A2. pass
  A3. pending

# Fireworm 0.4.4

OSX + VIM

  1. pass
  2. fail
  3. pass
  4. pass
  5. pass
  6. fail - if create the file and then rename it, then it doesn't fire change event
  7. pass
  8. pass
  9. fail - not if saved repeatedly
  10. pass
  11. fail
  12. fail
  13. pass

  A1. pass
  A2. pass
  A3. pending

# Gaze 0.4.3

OSX + VIM

  1. pass
  2. pass
  3. pass
  4. pass
  5. pass
  6. pass
  7. pass
  8. pass
  9. pass
  10. pass
  11. Crash <https://gist.github.com/airportyh/7606101>
  12. fail - fired that directory was added, but not the files inside
  13. fail - no events fired

  A1. fail - didn't fire events for individual files
  A2. pass
  A3. pending


# Experimental Fireworm Rewrite based on Chokidar

OSX + VIM
  1. pass
  2. pass
  3. pass
  4. pass
  5. pass
  6. pass
  7. pass
  8. pass
  9. pass
  10. pass
  11. pass
  12. pass
  13. pass

  A1. pass
  A2. pass
  A3. pending

# Experimental DirOnly Watcher

OSX + VIM
  1. pass
  2. pass
  3. pass
  4. pass
  5. pass
  6. pass
  7. pass
  8. pass
  9. pass
  10. pass
  11. pass
  12. pass
  13. pass

  A1. pass
  A2. pass

# New New Fireworm

OSX + VIM
  1. pass
  2. pass
  3. pass
  4. pass
  5. pass
  6. pass
  7. pass
  8. pass
  9. pass
  10. pass
  11. pass
  12. pass
  13. pass

Windows 7 + Sublime Text 2

  1. pass (but double event)
  2. pass
  3. pass
  4. fail (glob-matching bug on windows)
  5. fail (glob-matching bug?)
  6. fail
  7. pass
  8. pass
  9. passail
  10. fail
  11. fail
  12. fail
  13. fail (error out)

Linux (Ubuntu) + VIM

  1. pass
  2. pass
  3. pass
  4. pass
  5. pass
  6. pass
  7. pass
  8. pass
  9. pass
  10. pass
  11. pass
  12. pass
  13. pass